* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
          user-select: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Libre Franklin', 'Roboto',/*'PT Sans', *//*'Merriweather Sans',*/ -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
  /* background-color: #fdfdfd; */
  height: 63px;
  padding: 20px;
  color: white;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.15);
}

.App-title {
  font-size: 16px;
  font-weight: 300;
  font-family: 'Libre Franklin'
}

.App-intro {
  font-size: large;
}

.linknotugly {
  text-decoration: none;
  display: flex;
  color: rgb(46, 46, 46);
}

.big {
  width: 100%;
  height: 300px;
  text-align: left;
  outline: none;
  font-family: 'Taviraj';
  font-size: 16px;
  font-weight: 300;
  padding: 0px 25%;
  border: 0;
}

.arrow {
  font-size: 27px;
  margin: 0;
}

.arrow.back {
  color: #7b7b7b;
}

.marx {
  /*float: left;*/
  /*margin: 0 50%;*/
  position: absolute;
  /* display: none; */
  left: 40px;
}

.right {
  position: absolute;
  right: 40px;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
