.msg-container {
    /*background-color: aqua;*/
    /*background-color: rgb(250, 250, 250);*/
    background-color: white;
    position: fixed;
    right: 20px;
    top: 58px;
    width: 600px;
    height: 400px;
    border-radius: 9px;
    overflow: hidden;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.048);
}

.send-bar {
    position: absolute;
    background-color: rgb(254, 254, 254);
    bottom: 1px;
    width: 100%;
    height: 60PX;
    box-shadow: 0 2px 2px 2px rgba(0,0,0,.15);

    display:         flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
}

.message-box {
    outline: none;
    border-radius: 40px;
    border: 1px solid #ccc;
    height: 75%;
    left: 20px;
    width: 75%;
    position: absolute;
    padding-left: 8px;
    font-family: 'Inter';
}

.messages-view {
    width: 100%;
    height: 340px;
}

.send-button {
    outline: none;
    color: white;
    border-radius: 40px;
    border: 0px solid #ccc;
    background-color: blueviolet;
    height: 75%;
    right: 20px;
    width: 15%;
    position: absolute;

    padding-left: 16px;

    /* slett hvis du ikke vil ha dette */
    display:         flex;
    align-items: center;

    font-family: 'Libre Franklin', 'Roboto',/*'PT Sans', *//*'Merriweather Sans',*/ -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}