* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
  

.superrik {
    font-family: 'Work Sans', serif;
    font-size: 38px;
    font-weight: 700;
    float: left;
    padding: 5px 25%;
    margin: 15px 0;
    margin-top: 0px;
    width: 100%;
    /* background-color: black; */
    /* color: white; */
    outline: none;
    border: 0;
}

.done {
    float: left;
    padding: 5px 25%;
    margin-top: 30px;
    text-align: right;
    display: flex;
    align-content: center;
    justify-content: center;
    font-family: 'Libre Franklin';
    font-weight: 200;
    color: #018f69;
    line-height: 0px;
}

#da0 {
    margin-right: 3px;
    /* transform: translateY(6px) */
}