.sn-button {
    outline: none;
    border: 1px solid rgb(68, 68, 233);
    /* color: rgba(0,0,0,.95); */
    color: rgb(68, 68, 233);
    border-color: rgb(68, 68, 233);
    border-radius: 4px;
    height: 36px;
    font-size: 16px;
    padding: 0 16px;
    font-weight: 400;
    font-family: inherit;
    margin-top: 10px;
}

.sn-button:hover {
    border: 1px solid rgb(62, 98, 255);
    color: rgb(62, 98, 255);
}